{% extends 'account/base_entrance.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load allauth account %}

{% block title %}
    University Login
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col">
                <div class="text-center">
                    <a href="/">
                        <img src="{% static 'info/img/univ-logo.png' %}" alt="univ-logo" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 border p-4 bg-light">
                <h1>Password Reset</h1>
        {% if user.is_authenticated %}
            <div class="alert alert-primary" role="alert">
                {% user_display user as user_display %}
                <strong>Note: </strong>You are already logged in as {{ user_display }}.
            </div>
        {% endif %}
        <p class="fs-6">Enter your email address below, and we'll send you an email allowing you to reset it.</p>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Reset My Password" %}
            <a href="{% url 'account_login' %}" class="btn btn-secondary">Back to Login</a>
        </form>
        <br>
        <p class="fs-6">Please contact us if you have any trouble resetting your password.</p>
            </div>
        </div>
    </div>
{% endblock content %}