{% extends 'account/base_entrance.html' %}
{% load django_bootstrap5 %}

{% block title %}
    University ERP System
{% endblock title %}

{% block header %}
    {% include 'includes/navbar.html' %}
{% endblock header %}

{% block content %}
    <div class="container mt-3 mb-3">
        <h1>Change Password</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Change Password" %}
            <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </form>
    </div>
{% endblock content %}