{% extends 'base_master.html' %}

{% block custom_css %}
    <style>
        th:first-child, td:first-child
        {
            position:sticky;
            left:0px;
        }
    </style>
{% endblock custom_css %}
    
{% block content %}
    <div class="container">
        <h1>Timetable</h1>
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-primary border border-light">
                        <th scope="col">Days / Periods</th>
                        <th scope="col">07:30 AM - 08:30 AM</th>
                        <th scope="col">08:30 AM - 09:30 AM</th>
                        <th scope="col">09:30 AM - 10:30 AM</th>
                        <th scope="col">10:30 AM - 11:00 AM</th>
                        <th scope="col">11:00 AM - 11:50 AM</th>
                        <th scope="col">11:50 AM - 12:40 PM</th>
                        <th scope="col">12:40 PM - 01:30 PM</th>
                        <th scope="col">01:30 PM - 02:30 PM</th>
                        <th scope="col">02:30 PM - 03:30 PM</th>
                        <th scope="col">03:30 PM - 04:30 PM</th>
                        <th scope="col">04:30 PM - 05:30 PM</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in class_matrix %}
                    <tr>
                        {% for j in i %}
                            {% if forloop.counter == 1 %}
                                <th class="table-primary border border-light align-middle" scope="row">
                                    {{j}}
                                </th>
                            {% elif forloop.counter == 5 %}
                                <td class="table-info text-center border border-light align-middle">
                                    <b>Break</b>
                                </td>
                            {% elif forloop.counter == 9 %}
                                <td class="table-info text-center border border-light align-middle">
                                    <b>Lunch</b>
                                </td>
                            {% elif j == True %}
                                <td class="align-middle"></td>
                            {% else %}
                                <td class="text-center">
                                    <a href="{% url 'info:free_teachers' j.id %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                        onclick="window.open('{% url 'info:free_teachers' j.id %}',
                                                         'newwindow',
                                                         'width=600,height=400');
                                                    return false;">
                                        {{ j.assign.class_id_id }} {{ j.assign.course.shortname }}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
    