{% extends 'info/hod/index.html' %}

{% block content %}
    <div class="container">
        <h1>{{class.department.id}} : {{class.semester}}{{class.section}} : Students</h1>
        <hr>
        <div class="table-responsive mt-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Roll Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in class.student_set.all  %}
                    <tr>
                        <td class="align-middle">{{student.roll_number}}</td>
                        <td class="align-middle">{{student.name}}</td>
                        <td class="align-middle">{{student.gender}}</td>
                        <td class="align-middle">{{student.date_of_birth}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary m-1"
                                    onclick="window.location = '{% url 'info:hod_student_marks' student.roll_number %}'">
                                Marks
                                </button>
                                <button type="button" class="btn btn-sm btn-primary m-1"
                                    onclick="window.location = '{% url 'info:hod_student_attendance' student.roll_number %}'">
                                Attendance
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary m-1"
                                    onclick="window.location = '{% url 'info:hod_student_update' student.roll_number %}'">
                                Update
                                </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-info mt-3" role="alert">
                                No Students found.
                            </div>
                        </td>
                    </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>
        <p>
           <a href="{% url 'info:department_classes' %}" class="btn btn-secondary">Back</a>
        </p>    
    </div>
{% endblock content %}